/*blog-updates*/
.updates {
  width: 658px;
  float: left; }

.connect {
  width: 220px;
  float: right;
  margin-left: 80px; 

  a, img {
    display: block; }

}

.connect-red {
  float: left; }

.connect-red + .connect-red {
  margin-left: 15px; }
